html{
	font-size: 100%;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
	touch-action: manipulation;
}


body{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	word-wrap: break-word;
	overflow-x: hidden;
	color: #333;
}

h1, p{
	margin: 0;
	padding: 0;
}

p{
	line-height: 1.6;
	font-size: 1.05em;
	font-weight: 400;
	color: #555;
}

h1{
  font-family: 'Poppins', sans-serif;
	font-size: 3.5em;
  font-weight: inherit;
	line-height: 1.5;
}

.main-area{
	position: absolute;
	height: 100%;
  width: 100%;
  background-size: cover;
  text-align: center;
}
